.header
  .header-left
    = link_to 'javascript:history.back()', class: "back-button" do
      = image_tag 'back.png'
  .header-title Comment

.comment-container{data: {post_id: @post.id}}

.comment-form
  = text_area_tag :comment_content
  .btn-secondary
    コメントを追加

= javascript_pack_tag 'comment.js'