.header
  .header-left
    = link_to 'back', root_path, class: 'back-button'
  .header-title Comment

.comment-container{data: {post_id: @post.id, profile_image_path: asset_path('dummy_profile.png')}}


.comment-form
  = text_area_tag :comment_content
  .button-secondary.add-comment-button
    コメントを追加





= javascript_pack_tag 'comment.js'