.header
  .header-left
    = link_to 'back', root_path, class: 'back-button'
  .header-title Comment

.comment-container{data: {post_id: @post.id}}

.comment-form
  = text_area_tag :comment_content
  .btn-secondary
    コメントを追加

= javascript_pack_tag 'comment.js'