.btn {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.btn-primary {
  background-color: rgba(255, 230, 0, 1);
  border: none;
  width: 100%;
  text-align: center;
  padding: 16px 0;
}

.btn-secondary {
  display: block;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}