body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  display: none;
}

.notice {
  display: none;
}

.container {
  padding: 20px 16px;
}

.hidden {
  display: none;
}

