.profile-container {
  display: flex;
  gap: 20px;
  .profile-description {
    display: flex;
    align-items: center;
  }
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .profile-header-display_name {
    
  }
}

.profile-pic {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}

.profile-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

  .profile-stats-posts {
    text-align: center;
    width: 80px;
    height: 50px;
  }

  .profile-stats-followers {
    text-align: center;
    width: 80px;
    height: 50px;
  }

  .profile-stats-followings {
    text-align: center;
    width: 80px;
    height: 50px;
  }
}
